body {
    margin: 0;
    font-family: Arial;
    background: var(--bg);
    color: var(--text);
}

:root {
    --bg: #ffffff;
    --text: #111111;
}

.dark {
    --bg: #111111;
    --text: #ffffff;
}

header {
    padding: 10px;
    background: #4b6cb7;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav {
    background: #eee;
    padding: 10px;
}

nav button {
    margin-right: 5px;
}

.tab {
    display: none;
    padding: 20px;
}

.tab input, .tab textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

pre {
    background: #222;
    color: #0f0;
    padding: 15px;
    white-space: pre-wrap;
}
